<h1>bla</h1>
<nav>
  <a class="button"
     routerLink="/dashboard"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Dashboard
  </a> |
  <a class="button"
     routerLink="/buildings"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Buildings
  </a> |
  <a class="button"
     routerLink="/research"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Research
  </a> |
  <a class="button"
     routerLink="/options"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Options
  </a>
</nav>
<router-outlet></router-outlet>
